.weather-card {
   background-color: #ffffff; /* White background */
   border-radius: 20px; /* Curved border */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1); /* Box shadow effect */
    padding: 20px; /* Padding for content */
    margin: 20px; /* Margin around the card */
    width: 400px; /* Set the width of the card */
    cursor: pointer; /* Add cursor pointer */
  transition: all 0.3s ease; 
  position: relative;
  display: flex;
  
  flex-direction: column;
  justify-content: space-between;
  }
  .weather-card.flipped {
    transform: rotateY(180deg); /* Rotate card when flipped */
  }
  
  
  .weather-card .city {
    font-size: 20px; /* Font size for city */
    font-weight: lighter; /* Bold font weight */
     /* Margin at the bottom */
  }
  
  .weather-card .temperature,
  .weather-card .humidity,
  .weather-card .wind-speed {
    margin-bottom: 5px; /* Margin between weather details */
  }
  .weather-card.expanded {
    width: 600px; /* Expanded width */
  }
  
  .weather-card .weather-icon {
    margin-bottom: 10px; /* Margin below weather icon */
  }
  
  .weather-card .weather-icon svg {
    font-size: 48px; /* Size of weather icon */
  }
  /* WeatherCard.css */

/* Normal background */


.weather-card.hot {
 
  animation: hotAnimation 10s infinite alternate;
}

@keyframes hotAnimation {
  0% {
    background-color: #ffffff; /* White */
  }
  100% {
    background-color: #ffcc80; /* Light yellow */
  }
}

.weather-card.cold {
  background-image: url("https://example.com/cold-background.jpg");
  animation: coldAnimation 10s infinite alternate;
}

@keyframes coldAnimation {
  0% {
    background-color: #ffffff; /* White */
  }
  100% {
    background-color: #b3e5fc; /* Light blue */
  }
}

.weather-card.extreme-hot {
  animation: extremeHotAnimation 10s infinite alternate;
   /* Gradient from red to orange */
}
.weather-card .description {
  font-size: 14px; /* Font size for description */
  margin-top: 10px; /* Margin at the top */
  margin-bottom: 10px;
  line-height: 1.5; /* Line height for better readability */
  color: #333; /* Text color */
}

@keyframes extremeHotAnimation {
  0% {
    background-color: white; /* Red */
  }
  100% {
    background-color: #ffab40; /* Orange */
  }
}
.weather-card.snowAnimation{
  animation: snowAnimation 10s infinite alternate;
   /* Gradient from red to orange */
}
@keyframes snowAnimation {
  0% {
    background-color:white; /* Red */
  }
  100% {
    background-color: #e0e0e0; /* Orange */
  }
  
}
.forecast-container {
  display: flex;
  justify-content: space-between; /* Evenly distribute items */
}

.forecast-item {
  flex: 1; /* Each item takes equal space */
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease; /* Add transition for smooth effect */
  
  
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.forecast-item:hover {
  transform: translateY(-5px); /* Add a slight lift effect on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.day {
  font-weight: bold;
}

.temperature {
  margin-top: 5px;
}
.weather-icon-forecast{
  
  font-size: 25px

}
.city {
  font-size: 24px;
  font-weight: bold;
 
  align-self: flex-start; /* Align city name to top left */
}

.current-temperature {
  font-size: 30px;
  text-align: center;
}

.weather-info-container {
  display: flex;
  align-items: flex-end; /* Align items to the bottom */
}

.weather-info {
  display: flex;
  flex-direction: column;
}

.temperature {
  
    margin-top: 5px;
  
}

.weather-icon {
  font-size: 48px;
  margin-left: auto; /* Move the weather icon to the right */
}
.humidity,
.wind-speed {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.humidity .fa-icon,
.wind-speed .fa-icon {
  margin-right: 10px;
}
.current-time {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 24px;
  font-weight: lighter;
  margin: 10px;

}




  